@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply antialiased text-gray-900 dark:text-gray-100 bg-white dark:bg-gray-900;
  }
}

@layer utilities {

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-gray-100 dark:bg-gray-800;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-green-500 rounded-full hover:bg-green-600 transition-colors;
  }
}